body {
  background-color: #405173;
  text-align: center;
  font-family: "Ubuntu", sans-serif;
}

header {
  border: 1px solid #000000;
  background-color: white;
  margin: auto;
  width: 100%;
  top: 0;
  left: 0;
}

.continer {
  position: relative;
}

.plyers {
  margin: auto;
  width: 100%;
  top: 0;
  left: 0;
}

.plyers h1 {
  /* border: 1px solid red; */
  display: inline-block;
  margin: 2% 14%;
}

.winner {
  /* border: 1px solid yellow; */
  display: inline-block;
  margin: 1% 2%;
  color: aliceblue;
}

.game {
  margin: auto;
  padding: 1% 20%;
  /* border: 1px solid orange; */
}

.box {
  width: 100px;
  height: 100px;
  border: solid white;
  margin: auto;
  display: inline-block;
  transition: 0.5s all;
}

.gameTable {
  display: inline-block;
  margin: auto;
}

.playAgain {
  background-color: #f2a649;
  padding: 0.5% 1.6%;
  border-radius: 8px;
  margin: 1% 0 0% 80%;
}

footer {
  background-color: white;
  margin: auto;
  font-size: 0.6em;

  width: 100%;
  bottom: 0;
  left: 0;
}

footer .footerImg {
  margin: 1%;

  display: inline-block;
}

footer span {
  margin: 1%;
  margin-right: 75%;
}

.winLine {
  width: 4px;
  height: 250px;
  transform: rotate(90deg);
  position: relative;
  padding: 1%;
  margin: 1% 0% 23% 0;
  left: 28%;
  top: 50%;
}

/* To make the webite responsive  */
@media only screen and (max-width: 750px) {
  .plyers h1 {
    font-size: 1.4em;
    margin: auto;
    margin-top: 1%;
  }

  .plyers .winner {
    font-size: small;
  }

  footer span {
    margin: 2%;
    margin-right: 25%;
  }

  .playAgain {
    padding: 10% 25%;
    border-radius: 8px;
    margin: 2%;
    margin-top: 20%;
    font-size: 1.3em;
  }

  .box {
    width: 62px;
    height: 62px;
    border: solid white;
    margin: auto;

    display: inline-block;
    transition: 0.5s all;
  }

  .game {
    margin-top: 2%;
  }
}

.black {
  background-color: black;
}

.cross:before {
  content: "X";
  color: #f2a649;
  font-size: 2em;
  text-align: center;
  position: absolute;
}

.circle:before {
  content: "O";
  /* color: #f2a649; */
  color:#f26e50;
  font-size: 2em;
  margin: auto;
  position: absolute;
  
}
/* Color Theme Swatches in Hex */
.Graphic-Design-1-hex {
  color: #27498c;
}
.Graphic-Design-2-hex {
  color: #405173;
}
.Graphic-Design-3-hex {
  color: #f2a649;
}
.Graphic-Design-4-hex {
  color: #f26e50;
}
.Graphic-Design-5-hex {
  color: #wh;
}
